* {
    background-color: blueviolet;
}

.wrapper > div {
    background-color: aqua;
    padding: 2em;
}

.wrapper > div:nth-child(odd) {
    background-color: beige;
} 

.nested > div{
    border: rgb(61, 41, 11) 2px solid;
    padding: 1em;

}
